.bg-shadow{
    background: url("../images/bg-pattern.png"), #524b59; /* fallback for old browsers */
    background: url("../images/bg-pattern.png"), -webkit-linear-gradient(to left, #91548c , #524b59); /* Chrome 10-25, Safari 5.1-6 */
    background: url("../images/bg-pattern.png"), linear-gradient(to left, #91548c , #524b59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #524b59;
    color: #FFFFFF;
}

.skill-icon:before{
    font-size: 50px;
    margin: 10px;
    font-family: "SkillsIcons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
.i_laravel:before {
    content: "\e010";
}
.i_prog_symfony:before {
    content: "\e011";
}
.i_mysql:before {
    content: "\e012";
}
.i_jquery:before {
    content: "\e013";
}
.i_javascript:before {
    content: "\e014";
}
.i_bootstrap:before {
    content: "\e015";
}
.i_linux:before {
    content: "\e016";
}
.i_java:before {
    content: "\e017";
}
.i_android:before {
    content: "\e018";
}
.i_wordpress:before {
    content: "\e019";
}
.i_joomla:before {
    content: "\e01a";
}
.i_html:before {
    content: "\e01b";
}
.i_css:before {
    content: "\e01c";
}
.i_git:before {
    content: "\e01d";
}
.i_apache:before {
    content: "\e01e";
}
.i_paypal:before {
    content: "\e01f";
}
.i_facebook:before {
    content: "\e020";
}
.i_twitter:before {
    content: "\e021";
}
.i_google:before {
    content: "\e022";
}
.i_php:before {
    content: "\e023";
}

.mt-20px{
    margin-top: 20px;
}