@charset "utf-8";
/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {
	font-family: "onlinewebfonts";
	src:url("onlinewebfonts.eot");
	src:url("onlinewebfonts.eot?#iefix") format("embedded-opentype"),
		url("onlinewebfonts.woff2") format("woff2"),
		url("onlinewebfonts.woff") format("woff"),
		url("onlinewebfonts.ttf") format("truetype"),
		url("onlinewebfonts.svg#onlinewebfonts") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="i_"]:before, [class*=" i_"]:before{
	font-family: "onlinewebfonts";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.i_laravel:before {
	content: "\e010";
}
.i_prog_symfony:before {
	content: "\e011";
}
.i_mysql:before {
	content: "\e012";
}
.i_jquery:before {
	content: "\e013";
}
.i_javascript:before {
	content: "\e014";
}
.i_bootstrap:before {
	content: "\e015";
}
.i_linux:before {
	content: "\e016";
}
.i_java:before {
	content: "\e017";
}
.i_android:before {
	content: "\e018";
}
.i_wordpress:before {
	content: "\e019";
}
.i_joomla:before {
	content: "\e01a";
}
.i_html:before {
	content: "\e01b";
}
.i_css:before {
	content: "\e01c";
}
.i_git:before {
	content: "\e01d";
}
.i_apache:before {
	content: "\e01e";
}
.i_paypal:before {
	content: "\e01f";
}
.i_facebook:before {
	content: "\e020";
}
.i_twitter:before {
	content: "\e021";
}
.i_google:before {
	content: "\e022";
}
.i_php:before {
	content: "\e023";
}

